<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="hasil-total-bar">
            <span class="hasil-total-icon">
                 <button id="btnKembali" style="background:transparent;border:none;cursor:pointer;outline:none;">
                     <img src="{% static 'apk/image/back.png' %}" style="width:35px;vertical-align:middle;" alt="Kembali">
                 </button>
             </span>
            <span class="hasil-total-label">Total :</span>
            <span class="hasil-total-value">Rp. <span id="totalAkhir">0</span></span>
        </div>

</body>
</html>