{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Register - HoneyMoney</title>
  <link rel="stylesheet" href="{% static 'apk/register.css' %}">
</head>
<body>
  <div class="login-container">
    <form class="login-card" method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <img src="{% static 'apk/image/HoneyMoney.png' %}" alt="Logo" class="login-logo" />
        <h2>Register</h2>

        <input
            type="text"
            name="nama"
            placeholder="Nama"
            class="login-input"
            required
        />
        
        <input
            type="text"
            name="username"
            placeholder="Username"
            class="login-input"
            required
        />

        <input 
            type="email"
            name="email"
            placeholder="Email"
            class="login-input"
            required
            />

        <input
            type="password"
            name="password"
            placeholder="Password"
            class="login-input"
            required
        />
        <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            class="login-input"
            required
        />

        <button class="login-button" type="submit">Daftar</button>

        <div class="divider">
            <span>Atau</span>
        </div>

        <button class="google-login-button" type="button" onclick="window.location.href='/auth/google'">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" />
            Daftar Dengan Google
        </button>

        <p class="signup-text">
            Sudah Punya Akun? <a href="{% url 'login' %}">Masuk</a>
        </p>

        {% if error %}
            <p class="text-red-500 text-sm mt-2">{{ error }}</p>
        {% endif %}
    </form>

    <div class="login-illustration">
        <img src="{% static 'apk/image/FormCharacter.png' %}" alt="Illustration" />
    </div>
  </div>
</body>
</html>